pre {
  white-space: pre-wrap;
}

.frontmatter {
    background-color: #f6f8fa;
    padding-left: 1em;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    font-family: monospace;
    white-space: pre-wrap;
  }

.messages {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll; /* Allows vertical scrolling */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.messages::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}
